@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --nodeAnimationDuration: 800ms;
  --pointerAnimationDuration: 800ms;
  --deleteAnimationDuration: 800ms;
}

/* General */

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.3;
  height: 100vh;
  background-color: #fff;
  transition: background-color 1000ms;
}

body.show-menu {
  background-color: rgba(0 0 0 / .1)
}

input {
  display: block;
  width: 100%;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 0 20px;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  gap: 10px;
}

/* Header */

.header {
  border-bottom: 1px solid #000;
  font-size: 1.4rem;
}

/* Linked List */

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 81px);
}

.linked-list-container {
  overflow-x: auto;
  scrollbar-color: black #eee;
  scrollbar-width: thin;
  min-height: 170px;
}

.linked-list {
  display: flex;
  align-items: center;
  padding: 30px 20px;
}

.node-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.node-container.translate {
  animation: move var(--pointerAnimationDuration) 1 backwards;
}

.node-container.translate-reverse {
  /* animation: move-reverse 1660ms 1 forwards; */
  animation: move-reverse var(--pointerAnimationDuration) 1 forwards;
}

.node-data {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.node-container.next-node .node-data {
  animation: nextNodeAnimation var(--nodeAnimationDuration) 1;
}

.node-container.new-node .node-data {
  animation: newNodeAnimation var(--nodeAnimationDuration) 1;
}

.node-data.new-node-data {
  animation: newNodeAnimation var(--nodeAnimationDuration) 1;
}

.node-data .data.remove-data {
  animation: removeNodeDataAnimation 1000ms 1 forwards;
}

.node-data .data.show-data {
  animation: showNodeDataAnimation 1000ms 1 forwards;
}

.node-arrow {
  font-size: 3.5rem;
  margin: 0 20px;
  position: relative;
  z-index: -100;
  opacity: 0;
  /* opacity: 1;
  transform: translate(-150%); */
}

.node-container.next-node .node-arrow {
  animation: nextArrowAnimation var(--pointerAnimationDuration) 1 forwards;
  animation-delay: var(--nodeAnimationDuration);
}

.node-container.new-node .node-arrow {
  animation: newArrowAnimation var(--pointerAnimationDuration) 1 forwards;
  animation-delay: var(--nodeAnimationDuration);
}

.node-arrow.new-node-arrow {
  animation: newArrowAnimation var(--pointerAnimationDuration) 1 forwards;
  animation-delay: var(--nodeAnimationDuration);
}

.node-data.remove-node, 
.node-arrow.remove-node {
  /* animation: removeNodeAnimation 1660ms 1 forwards; */
  animation: removeNodeAnimation var(--deleteAnimationDuration) 1 forwards;
}

/* Options */

.options-container {
  min-height: calc(100vh - 82px - 170px - 20px);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  gap: 20px;
  margin-bottom: 50px;
}

.option-btn {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #ccc;
  transform: scale(1);
  transition: transform 500ms;
}

.option-btn:hover {
  transform: scale(1.05);
}

.option-input {
  display: block;
  margin: 10px 0;
  padding: 5px;  
  outline: none;
  font-size: 1rem;
}

/* Remove Option Button */

.option-btn-red {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #d30017;
  color: #fff;
  position: relative;
  z-index: 1000;
}

.select-btn {
  display: inline-block;
  width: 100%;
  border: 1px solid #000;
  font-size: 18px;
  padding: 5px;
  position: relative;
  transform: translate(0, calc(-100% + -2px));
  transition: transform 1000ms;
  z-index: 100;
}

.select-btn:hover {
  font-weight: bold;
}

.select-btn:nth-child(2) {
  z-index: 10;
  border-top: none;
  transform: translate(0, calc(-200% + -2px));
}

.selects-container.show .select-btn {
  transform: translate(0);
}

.fa-gear.show {
  transform: rotate(90deg);
}

.fa-gear {
  transition: transform 1000ms;
  transform: rotate(-90deg);
}

.option-input-remove {
  display: none;
}

/* Error */

.error {
  color: rgb(218, 23, 23);
  font-weight: bold;
  opacity: 0;
  height: 20px;
}

.error.show {
  opacity: 1;
}

.error i {
  margin-right: 5px;
  animation: errorAnimation 500ms;
}

/* Settings */

.settings {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #000;
  color: #fff;
  padding: 1rem;
  width: 250px;
  transform: translate(-100%);
  transition: transform 1000ms;
  z-index: 10000;
}

body.show-menu .settings {
  transform: translate(0);
}

/* Settings Header */

.settings-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.settings-header i {
  font-size: 1.5rem;
}

.settings-header i:hover {
  color: #ccc;
}

/* Settings Inputs */

.settings-inputs label {
  font-weight: bold;
}

.setting-input {
  display: block;
  margin: 10px 0 20px;
  padding: 5px;  
  outline: none;
  font-size: 1rem;
}

/* Settings Button */

.setting-btn {
  width: 100%;
  padding: 5px;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 25px;
}


/* Media Queries */

@media (max-width: 600px) {

  .header {
    font-size: 1rem;
  }


  .header-title {
    font-size: 1.3rem;
  }
}